{% extends "base.html" %}

{% block head %}
	<title >MEMURAL</title>
{% endblock %}

{% block body %}

<section class="demo">
	<h1 style="color:white">MEMEBOARD</h1>
	<div class="gridster">
		<ul>
			<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='1.jpg') }}" ></i>
			<li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='2.jpg') }}" ></li>
			<li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='3.jpg') }}" ></li>

			<li data-row="1" data-col="2" data-sizex="2" data-sizey="1"><img src="{{ url_for('static', filename='cash.png') }}" alt="Smiley face"></li>
			<li data-row="2" data-col="2" data-sizex="2" data-sizey="2"><img src="{{ url_for('static', filename='4.jpg') }}" ></li>

			<li data-row="1" data-col="4" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='5.jpg') }}" ></li>
			<li data-row="2" data-col="4" data-sizex="2" data-sizey="1"><img src="{{ url_for('static', filename='6.jpg') }}" ></li>
			<li data-row="3" data-col="4" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='7.jpg') }}" ></li>				

			<li data-row="1" data-col="5" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='8.jpg') }}" ></li>
			<li data-row="3" data-col="5" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='9.jpg') }}" ></li>

			<li data-row="1" data-col="6" data-sizex="1" data-sizey="1"><img src="{{ url_for('static', filename='10.jpg') }}" ></li>
			<li data-row="2" data-col="6" data-sizex="1" data-sizey="2"><img src="{{ url_for('static', filename='11.jpg') }}" ></li>				
		</ul>
	</div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.gridster.js') }}" charster="utf-8"></script>
<script type="text/javascript">
	var gridster;

	$(function() {
		gridtster = $(".gridster > ul").gridster({
			widget_margins: [17, 17], 
			widget_base_dimensions: [180, 180],
			min_cols: 6
		}).data('gridster');
	});
</script>


{% endblock %}