{% extends "base.html" %}

{% block head %}
	<title>Title</title>
{% endblock %}

{% block body %}

<section class="demo">
	<div class="gridster">
		<ul>
			<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h1>HELLO</h1></li>
			<li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h1>WORLD</h1></li>
			<li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h1>OR ELSE<h1></li>

			<li data-row="1" data-col="2" data-sizex="2" data-sizey="1"><img src="{{ url_for('static', filename='cash.png') }}" alt="Smiley face"></li>
			<li data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>

			<li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
			<li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
			<li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>				

			<li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
			<li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

			<li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
			<li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>				
		</ul>
	</div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.gridster.js') }}" charster="utf-8"></script>
<script type="text/javascript">
	var gridster;

	$(function() {
		gridtster = $(".gridster > ul").gridster({
			widget_margins: [15, 15], 
			widget_base_dimensions: [150, 150],
			min_cols: 6
		}).data('gridster');
	});
</script>


{% endblock %}